<VirtualHost *:80>
    ServerAdmin webmaster@{{ apache_server_name }}
    DocumentRoot {{ apache_document_root }}
    <Directory {{ apache_document_root }}>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Require all granted
    </Directory>
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
